<footer class="page__footer">
  <div class="page__footer-follow">
    <nav class="greedy-nav__menu">
      <a href="/files/Muzammil_Khan_CV.pdf">CV</a>
      <span>·</span>
      <a href="https://scholar.google.com/citations?user=PS_CX0AAAAAJ">Google Scholar</a>
      <span>·</span>
      <a href="https://github.com/MUZAMMILATEO">GitHub</a>
      <span>·</span>
      <a href="mailto:m.khan@utwente.nl">Email</a>
      <span>·</span>
      <a href="https://orcid.org/0000-0002-XXXX-YYYY">ORCID</a>
    </nav>
  </div>

  <div class="page__footer-copyright">
    &copy; {{ 'now' | date: '%Y' }} Muzammil Khan. Site last updated {{ site.time | date: "%Y-%m-%d" }}.
  </div>
</footer>
